.imgDiv {
    overflow: hidden;
    position: relative;
}

.imgDiv:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 47, 47, 0.25);
}

.boat {
    width: 100%;
    min-width: 1000px;
}

.textDiv {
    margin-top: -700px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(48, 48, 124) !important;
    opacity: 85%;
}

.boxDivs {
    display: flex;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.headerText {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.headerTextUnder {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.percentageBox {
    text-align: center;
    width: 150px;
    margin-top: 60px;
    opacity: 85%;
    background-color: rgb(48, 48, 124) !important;
    color: white;
}

@media screen and (max-width: 1500px) {
    .textDiv {
        margin-top: -600px;
    }
}

@media screen and (max-width: 1200px) {
    .textDiv {
        margin-top: -550px;
    }
}

@media screen and (max-width: 1400px) {

    .boxDivs {
        width: 34%;
    }

    .leftBox {
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    .textDiv {
        margin-top: -500px;
    }

    .headerText {
        font-size: 20px;
    }

    .headerTextUnder {
        font-size: 15px;
    }

    .boxDivs {
        width: 70%;
        margin-top: -50px;
    }

    .boxDivs .leftBox {
        margin-right: 20px;
    }
}

.annuityBtn {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.annuityBtn button {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(23, 26, 80);
    color: white;
    padding: 20px;
    font-weight: 600;
}

.businessTitle {
    margin-top: 20%;
    color: rgb(23, 26, 80);
    text-align: center;
}

.businessTitle h6 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.businessTitle h4 {
    margin-top: 40px;
}

.iconsDiv {
    display: flex;
}
.iconsDiv2 {
    display: flex;
    margin-bottom: 50px;
}

.iconsCard {
    text-align: center;
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.pTitles {
    font-size: 25px;
    color: rgb(78, 144, 146);
}

@media screen and (max-width: 1000px) {
    .iconsDiv {
        display: block;
    }
    .iconsDiv2 {
        display: block;
    }
}

.mainFormDiv {
    background-image: url("https://www.northstarmeetingsgroup.com/uploadedImages/Articles/News/Industry/Skyline-Bridge-Brooklyn-NYC-Julienne-Schaer(1).jpg?width=920&scale=both&mode=crop");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 703px;
}

.mainFormDiv:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 47, 47, 0.55);
}

.userForm {
    width: 360px;
    text-align: center;
    background-color: rgb(54, 118, 138) !important;
    margin-left: auto;
    margin-right: 100px;
}

.userForm form input {
    display: flex;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.userForm form select {
    display: flex;
    width: 240px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.userForm form label {
    color: white;
    font-size: 20px;
}

.userForm form button {
    color: white;
    font-weight: 600;
    background-color: rgb(23, 26, 80);
    width: 180px;
    height: 50px;
}

.required:after {
    content: "*";
    color: red;
}

.antMorg {
    font-size: 18px;
    color: white;
    position: relative;
    width: 400px;
    font-weight: 700;
}

.testi {
    margin-top: -630px;
    margin-left: 60px;
}

@media screen and (max-width: 1000px) {
    .userForm {
        margin-left: auto;
        margin-right: auto;
    }

    .testi {
        margin-top: 60px;
        margin-left: 0;
        text-align: center;
    }

    .antMorg {
        color: black;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.earnDiv {
    width: 80%;
    background-color: rgb(200, 200, 200);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.earnTitle {
    font-size: 25px;
    font-weight: 600;
    color: rgb(82, 82, 82);
}

.earnText {
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .earnDiv {
        margin-top: 500px;
    }
}

@media screen and (max-width: 700px) {
    .earnDiv {
        margin-top: 600px;
    }
}

@media screen and (max-width: 560px) {
    .earnDiv {
        margin-top: 700px;
    }
}

@media screen and (max-width: 460px) {
    .earnDiv {
        margin-top: 800px;
    }
}

.beniList {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

.beniTitle {
    text-align: center;
    font-size: 26px;
    color: rgb(23, 26, 80);
    font-weight: 500;
}

.beniUL {
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 560px) {
    .beniList {
        width: 300px;
    }
}

.whatIsAnnuDiv {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.whatIsAnnuTitle {
    font-size: 26px;
    color: rgb(23, 26, 80);
    font-weight: 500;
}

.whatIsAnnuText {
    font-size: 18px;
    font-weight: 500;
}